<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <divido_financing>
                <active>0</active>
                <model>Divido\DividoFinancing\Model\Payment</model>
                <title>Pay in instalments</title>
                <api_key/>
                <min_order_total>0.50</min_order_total>
                <max_loan_amount>25000</max_loan_amount>
                <currency>GBP,EUR</currency>
                <timeout_delay>7</timeout_delay>
                <can_use_internal>0</can_use_internal>
                <allowspecific>1</allowspecific>
                <specificcountry>GB,FI</specificcountry>
                <language_override>0</language_override>
                <widget_footer></widget_footer>
                <widget_button_text></widget_button_text>
            </divido_financing>
        </payment>
    </default>
</config>
