<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="divido_dividofinancing_order_status_change" instance="Divido\DividoFinancing\Observer\FulfilmentObserver" />
    </event>  
    <event name="sales_order_invoice_pay">
        <observer name="divido_dividofinancing_invoice_status_change" instance="Divido\DividoFinancing\Observer\InvoicedObserver" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="sendNoEmail" instance="Divido\DividoFinancing\Observer\SendNoEmail" />
    </event>
    <event name="order_cancel_after">
        <observer name="divido_dividofinancing_order_cancel" instance="Divido\DividoFinancing\Observer\CancelObserver" />
    </event>
    <event name="sales_order_payment_refund">
        <observer name="divido_dividofinancing_order_refund" instance="Divido\DividoFinancing\Observer\RefundObserver" />
    </event>
    <event name="admin_system_config_changed_section_payment">
        <observer name="custom_admin_system_config_changed_section_payment" instance="Divido\DividoFinancing\Observer\ConfigChangeObserver"/>
    </event>
</config>
